/// <reference path="../style.scss" />
$desktop: "(min-width: 1024px)";
$tabletLandscape: "(min-width: 768px) and (max-width: 1023px)";
$tabletPortrait: "(min-width: 440px) and (max-width: 768px)";
$mobilePortrait: "(min-width: 0px) and (max-width: 440px)";