/// <reference path="../style.scss" />

.inline-block {
    display: inline-block;
}

.modal {
    .modal-dialog.modal-xlg {
        width: 80%;
        min-height: 75%;

        .modal-content {
            height: 93%;
            width: 100%;
            padding-bottom: 40px;
        }
    }


}

.cheque-generator {
    .cheque-layout {
        border: 1px solid #ddd;
        /*height: 90.899mm;
            width: 199.799mm;*/
        width: 209mm;
        height: 95mm;
    }

    .cheque-generator-control {
        .nudger-control {
            position: relative;
            height: 100px;
            width: 100px;
        }

        .btn-nudge-left {
            position: absolute;
            left: 0px;
            top: 35px;
            width: 32px;
            min-width: 32px;
        }

        .btn-nudge-right {
            position: absolute;
            right: 0px;
            top: 35px;
            width: 32px;
            min-width: 32px;
        }

        .btn-nudge-up {
            position: absolute;
            left: 35px;
            top: 0px;
            width: 32px;
            min-width: 32px;
        }

        .btn-nudge-down {
            position: absolute;
            left: 35px;
            bottom: 0px;
            width: 32px;
            min-width: 32px;
        }
    }

    .cheque-layout {
        .cheque-placeholder {
            padding: 0.5mm;
            color: #333;
            position: absolute;
            font-size: 12pt;
        }

        #SumInNumber.cheque-placeholder {
            font-weight: bold;
        }

        .label-active {
            border: 1px solid #05a9ce;
            background: #e2ebf0;
        }

        position: relative;
        background-size: 209mm 95mm;
        overflow: hidden;
    }

    .grid-layout {
        background-color: transparent;
        background-image: linear-gradient(0deg, transparent 9.5mm, rgba(237, 238, 239, 1) 0.7mm), linear-gradient(90deg, transparent 9.5mm, rgba(237, 238, 239, 1) 0.7mm);
        background-position: left top;
        background-size: 10mm 10mm;
        height: 100%;
        height: 100%;
        position: absolute;
        width: 100%;
    }

    .cheque-control {
        margin-bottom: 15px;
    }
}

input.form-control.form-control-inline {
    display: inline-block;
}

.cheque-generator .cheque-generator-control {
    .coordinates-input-control input.form-control.form-control-inline {
        width: 60px;
        margin-left: 8px;
        margin-right: 4px;
    }

    .cheque-label-details {
        width: 130px;
        display: inline-block;
    }

    .label-details-list li { 
        margin-bottom: 8px;
    }

    .btn-icon {
        &.btn-nudge {
            padding: 0px;

            i {
                font-size: 24px;
                line-height:32px;
            }
        }

        &.btn-nudge-down i {
         
            }

            &.btn-nudge-left i {
                margin-left: -5px;
            }

            &.btn-nudge-right i {
                margin-right: -5px;
            }

            &.btn-nudge-up i {
                line-height: 32px;
                // margin-top: -5px;
            }
        }
    }

    .details-header {
        min-width: 100px;
        display: inline-block;
        padding-left: 8px;
    }

    @media only screen and (max-width: 1300px) {
        .col-sm-lg-12 {
            width: 100%;
        }

        .col-sm-lg-11 {
            width: 91%;
        }

        .col-sm-lg-10 {
            width: 83%;
        }

        .col-sm-lg-9 {
            width: 75%;
        }

        .col-sm-lg-8 {
            width: 66.66666667%;
        }

        .col-sm-lg-7 {
            width: 58.33333%;
        }

        .col-sm-lg-6 {
            width: 50%;
        }

        .col-sm-lg-5 {
            width: 42%;
        }

        .col-sm-lg-4 {
            width: 34%;
        }

        .col-sm-lg-3 {
            width: 25%;
        }

        .col-sm-lg-2 {
            width: 17%;
        }

        .col-sm-lg-1 {
            width: 8%;
        }
    }
    /* ********************************************** Check Solution **************************************************************/
    .fps .grid table .dxgvInlineEditRow_HCSSTheme td.dxgv .form-control.disabled, .form-control[disabled] {
        background: #EFF7F9 !important;
    }

    .modal-header.modal-header {
        padding: 15px 15px 0px;
        /* Check Solution */
    }

    .modal-body-content {
        padding-top: 0px;
        /* Check Solution */
    }

    #btnSavedClose {
        margin-left: 15px;
    }

    #btnResetToDefault {
        margin-right: 0px;
    }